* {
  font-family: "Gill Sans", "Lucida Sans", Arial, sans-serif;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EBEBEB; /* secondary color */
}

.container {
  text-align: center;
  padding: 40px;
}

/* TITLE */
h1 {
  font-size: 70pt;
  color: black;
  background-color: #FFCC00; /* primary color */
  padding: 20px;
  margin: 0;
}

/* INTRO TEXT */
.intro {
  font-size: 18pt;
  margin: 20px auto;
  width: 80%;
}

/* CARDS */
.card {
  background-color: #FFFFFF;
  margin: 20px auto;
  padding: 25px;
  width: 70%;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

/* SUBHEADINGS */
.card h2 {
  font-size: 38pt;
  margin-bottom: 10px;
  color: black;
}

/* BODY TEXT */
.card p {
  font-size: 18pt;
  color: black;
}

/* FOOTER */
.footer {
  margin-top: 40px;
  font-size: 18pt;
  color: black;
}